body {
    font-family:"Lora", serif;
}

nav {
    background-image: radial-gradient(circle 1259px at 2.8% 48.8%, rgb(255, 243, 110) 0%, rgb(30, 204, 214) 45.6%, rgb(5, 54, 154) 65.9%);
    border-bottom: 4px solid rgb(68, 67, 67);    
}

nav .navbar-brand {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 3;
    text-shadow: 8px 8px 10px rgb(78, 77, 2), 3px 3px 8px rgb(78, 77, 2);
}

.menuNavegacion{
    margin-left: 4rem;
    margin-right: 4rem;
}

.productos {
    margin: 2rem;
}

.card {
    width: 18rem;
    padding: 2rem;    
}

.card img {
    width: 15rem;
    height: 15rem;
}


footer{
    background-color: rgb(104, 183, 243);
}

/*ESTILO PAGINA CONTACTO*/

.medios {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 60vw;
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.medios h2 {
  display: flex;
  grid-column: 4/6;
  grid-row: 1;
  color: rgb(17, 116, 102);
  font-size: 25px;
  font-family: "Lora", serif;
  position: relative;
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 2px;
  animation-name: heartBeat;
  animation-duration: 1s;
}
.medios .flex-container {
  display: flex;
  grid-column: 2/7;
  grid-row: 2/7;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(89, 201, 245);
  margin: 20px;
  width: 450px;
  margin-left: 270px;
  border: 14px solid rgb(5, 4, 31);
  outline: 3px solid rgb(6, 146, 240);
  padding: 20px;
  box-shadow: 2px 6px 20px #000;
}
.medios .flex-container #form {
  min-width: 500px;
  flex: 2;
  text-align: center;
  padding: 30px;
}
.medios .flex-container #form .form-input {
  width: 70%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid rgb(6, 146, 240);
  outline: none;
  background: rgb(62, 87, 124);
  color: rgb(249, 252, 252);
}
.medios .flex-container #form .form-input:focus {
  background: linear-gradient(to bottom, transparent, rgb(110, 110, 99));
  outline: none;
  border-bottom: 3px solid rgb(146, 248, 209);
}
.medios .flex-container #form .form-input [type=submit] {
  background-color: rgb(7, 4, 175);
  border-bottom: none;
  padding: 10px;
}
.medios .flex-container #form .form-input [type=submit]:hover {
  background-color: rgb(78, 75, 247);
  border-bottom: none;
  padding: 10px;
}
.medios .flex-container #form .form-input [type=submit]:focus {
  background-color: rgb(146, 248, 209);
}
.medios .flex-container #form .form-input [type=submit]:active {
  background-color: linear-gradient(to bottom, transparent, rgb(110, 110, 99));
}
.medios .flex-container #form textarea {
  min-height: 150px;
  resize: none;
}
.medios h3 {
  grid-column: 2/7;
  grid-row: 8;
  display: flex;
  color: rgb(32, 29, 29);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 7px rgb(46, 43, 43);
  position: relative;
  margin-left: 150px;
}
